<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <!-- <link rel="stylesheet" href="/css/syntax.css"> -->

        <!-- Custom CSS -->
        {% stylesheet style %}

    </head>
    <body>

        <div class="wrapper">
          
          <div class="bheader">
            
            <div class="bheader__logo">
                <p>Logo placeholder.</p>
            </div><!--
            
            --><div class="bheader__main-nav">
                <ul>
                    <li><a class="extra" href="/">home</a></li>
                    <li><a class="extra" href="/blog">Blog</a></li>
                    <li><a class="extra" href="/cv">CV</a></li>
                </ul>
            </div>
          </div>

          <div class="bbody">
            Body placeholder.
            {{ content }}
          </div>
        </div>

    </body>
</html>
